@model IEnumerable<Lab8.Models.Product>

<h2>Таблиця продуктів</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Created Date</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.ID</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.CreatedDate</td>
        </tr>
    }
</table>

<a href="@Url.Action("List", "Product")">Перейти до списку продуктів</a>
